
    @{
        //Layout = "~/Views/Shared/_Layout.cshtml";
        ViewBag.Title = "About";
        //layout = null lw msh 3yza a-apply l layout
        //layout= "another path" layout mo5tlf
    }

    <div> 
        <p>About Page</p>
    </div>

