@using MVCDay02.Controllers

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <div> 

        <h2>@Model.name,  Added Successfully!  </h2>
    </div>
</body>
</html>
